# Server
PORT=4000

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=taller_node
DB_USER=taller_user
DB_PASSWORD=secret_password

# Docker If needed
MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=taller_node
MYSQL_USER=taller_user
MYSQL_PASSWORD=secret_password
MYSQL_PORT=3306

# Auth
JWT_SECRET=tu_jwt_secreto_super_seguro
JWT_EXPIRES_IN=8h

# Misc
NODE_ENV=development
